body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 10px 0px 15px 30px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

h2 {
  padding: 20px 0 20px 0;
  margin: 0;
  color: #234;
  font-size: 1.8rem;
  font-weight: 100;
}

button {
  border: 0
}

main {
  margin: 20px 30px;
}

.itemsTotal  {
  background-color: #234;
  color: #fff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 7px 5px;
  opacity: 1;
}

.itemsTotal:hover {
  background-color: #fff;
  color: #234;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  transition-duration: 0.2s;
}

.itemsTotal:hover > span:last-child{
  transition-duration: 0.2s;
  color: #234;
}

.itemsTotal > span:last-child {
  border-radius: 100%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-left: 3px;
}

header {
  background-color: #123;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

header div:first-child {
  align-self: flex-start;
  width: 100%;
}

header div:last-child {
  margin-right: 50px;
}


.list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.list > div {
  display: flex;
  flex-direction: row;
  padding-top: 0.6rem;
  align-items: center;
}

.list > div > span {
  text-align: right;
  width: 100px;
  padding: 0;
}

.list > div > span:first-child {
  text-align: left;
  width: 100%;
}

.list > div > span:last-child {
  text-align: right;
  padding: 0 10px;
  width: 20px;
}

.handlers {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-self: stretch;
  justify-content: stretch;
}

.handlers > div:first-child {
  width: 50%;
}

.handlers > div:first-child div {
  margin-right: 50%;
}

.handlers > div:last-child {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.handlers > div:last-child > button {
  justify-items: flex-end;
}

.handler {
  border-radius: 0;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.handler:hover {
  transition-duration: 0.2s;
}

.addToCart {
  /*background-color: forestgreen;*/
  color: darkgreen;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  width: 20px;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 0px
}

.addToCart:hover {
  color: forestgreen;
  cursor: pointer;
}

.backToCatalog {
  background-color: #fff;
  border: 0;
  color: #999;
  width: 200px;
  text-decoration: underline;
}

.backToCatalog:hover {
  color: #234;
}

.clearAll {
  background-color: indianred;
  color: #fff;
  width: 200px;
}

.clearAll:hover {
  background-color: orangered;
}

.checkout {
  background-color: forestgreen;
  color: #fff;
  width: 200px;
}

.checkout:hover {
  background-color: green;
}

.backOnly .backToCatalog {
  margin-top: 80px;
  background-color: #456;
  border: 0;
  color: #fff;
  width: 200px;
  text-decoration: none;
}

.backOnly .backToCatalog:hover {
  background-color: #234;
}

/* ========  Cart ======= */

.cartList {
  padding-top: 11px;
  width: 100%;
}

.cartList div {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-bottom: 0.7rem;
}

.cartList span {
  width: 170px;
  text-align: right;
  align-items: center;
}

.cartList span:first-child {
  text-align: left;
  width: 100%;
}

.cartList button {
  background-color: indianred;
  color: #fff;
  padding: 3px 10px;
  text-transform: uppercase;
  font-size: 0.6rem;
  cursor: pointer;
}

.cartList button:hover {
  background-color: orangered;
}