body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #234;
}

header {
  background-color: #123;
}

h1 {
  padding: 10px 0px 15px 30px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.status {
  font-weight: 100;
  color: #999;
  font-style: italic;
  font-size: 1.6rem;
}

section {
  margin-top: 20px;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  padding: 20px;
  color: #fff;
}

main {
  padding: 20px;
  font-family: 'Ubuntu Mono', monospace;
}

button {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
}

.loading {
  font-size: 1rem;
  color: #fff;
  padding: 20px;
  margin: 20px;
  top: 42px;
  position: relative;
}

button {
  background-color: #234;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
  width: 150px;
}

button:hover {
  color: #234;
  border: 1px solid #fff;
  background-color: #fff;
}

button:disabled {
  color: #234;
  border: 1px solid #567;
  background-color: #567;
}